.main-front{
    width: 90%;
    margin: 0 auto;
    min-height: 90vh;
    @include flex(space-between,center,row);
    flex-wrap: wrap;
    h2{
        font-size: 2.3rem;
        margin: 2rem;
    }
    img{
        border-radius: 1.5rem;
        box-shadow: 2px 5px 5px rgba(0,0,0,0.2);
    }
}

.cv8bit,
.viajandoSiempre,
.verycheck,
.podcast{
    flex: 1 1 40rem;
    margin: 4rem 2rem;
    text-align: center;
}

.cv8bit img:hover{
    transform:scale(1.02);
    box-shadow: 2px 5px 5px rgba(0,0,0,0.3);
}

.viajandoSiempre img:hover{
    transform:scale(1.02);
    box-shadow: 2px 5px 5px rgba(0,0,0,0.3);
}

.verycheck img:hover{
    transform:scale(1.02);
    box-shadow: 2px 5px 5px rgba(0,0,0,0.3);
}

.podcast img:hover{
    transform:scale(1.02);
    box-shadow: 2px 5px 5px rgba(0,0,0,0.3);
}

