

/*.main-uxui{
    width: 90%;
    margin: 0 auto;
    min-height: 90vh;
    @include flex(space-between,center,row);
    flex-wrap: wrap;
    h2{
        font-size: 2.3rem;
        margin: 2rem;
    }
    img{
        border-radius: 1.5rem;
        box-shadow: 2px 5px 5px rgba(0,0,0,0.2);
    }
}


.SUIT,
.verycheck,
.pizzaWhiskers,
.rutaDigitalizacion,
.homeForPets,
.fluxIt {
    flex: 1 1 40rem;
    margin: 4rem 0;
    text-align: center;
    transition: all 0.5s ease;
}


.SUIT img:hover{
    transform:scale(1.02);
    box-shadow: 2px 5px 5px rgba(0,0,0,0.3);
}

.verycheck img:hover{
    transform:scale(1.02);
    box-shadow: 2px 5px 5px rgba(0,0,0,0.3);
}

.pizzaWhiskers img:hover{
    transform:scale(1.02);
    box-shadow: 2px 5px 5px rgba(0,0,0,0.3);
}

.rutaDigitalizacion img:hover{
    transform:scale(1.02);
    box-shadow: 2px 5px 5px rgba(0,0,0,0.3);
}

.homeForPets img:hover{
    transform:scale(1.02);
    box-shadow: 2px 5px 5px rgba(0,0,0,0.3);
}

.fluxIt img:hover{
    transform:scale(1.02);
    box-shadow: 2px 5px 5px rgba(0,0,0,0.3);
}*/

#anses{
    position: relative;
    a{
        position: absolute;
        right: -25.5rem;
    }
}

#hfp{
    position: relative;
    a{
        position: absolute;
        right: -25.5rem;
    }
}

#pizza{
    position: relative;
    a{
        position: absolute;
        right: -25.5rem;
    }
}